/venv/
/.idea/
/lego_sorter_server/detection/test/
/lego_sorter_server/detection/models


*__pycache__
*checkpoints*
lego_sorter_server/images/storage/stored
*saved_model.pb*
lego_sorter_server/classifier/models/saved

/lego_sorter_server/analysis/detection/models
/lego_sorter_server/analysis/classification/models/keras_model
/lego_sorter_server/analysis/classification/models/tf_model
/lego_sorter_server/analysis/classification/models/tiny_vit_model

/lego_sorter_server/database/LegoSorterServerDB.db
